@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quicksand:wght@300&display=swap');

root:{
--main-bg-color: #fff;
--main-font-color: #000;
--blue:#0150FD;
--purple: #e6dace;
--lilac: #f4ece6;
}

/* font-family: 'Poppins', sans-serif; 
font-family: 'Quicksand', sans-serif;*/
