**Headings:** Poppins - Semi-bold 600  
https://fonts.google.com/specimen/Poppins  
**Body:** Quicksand - Light 300  
https://fonts.google.com/specimen/Quicksand  

### Colors
Dark beige: #E6DACD  
Light beige: #F4ECE6  
Royal blue: #0150FD  
Black: #000  
White: #FFF  
Light lilac: rgb(245, 232, 255);
try-lilac:rgba(230,250,192,1);
Lylac: #f5e8ff; 