@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quicksand:wght@300&display=swap');
/* footer */

footer{
    font-family: quicksand;
    padding-left: 30px;
    padding-right: 30px;
}

/* icons */
footer i{
    color:black;
    font-size: 24px;
    padding: 5px;
}

/* footer grid */
.footer-container{
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid: 
    "item1 item2"
    "item3 ."
    "item4 item4";
}

.item1{
    grid-area:item1;
}

.item2
    {
    grid-area:item2;
}

.item3{
    grid-area:item3;
    padding-bottom: 20px;
}

.item4{
    grid-area:item4;
    line-height: 5px;
}